:root {
  --S: #ffb8f4;
  --W: #85e1ff;
  --G: #93fab0;
}

/* Icon網站
https://fontawesome.com/v6/search?q=Hamburger%20Menu */

.bar {
  background-color: var(--W);
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.syashin {
  height: 100%;
}

.list {
  display: flex;
  position: absolute;
  top: 0;
  right: 16px;
}

.botan {
  background-color: var(--S);
  margin: 0 10px;
  padding: 0 24px;
  text-align: center;
  line-height: 60px;
  position: relative;
}

.ni-ul {
  background-color: #bfabeb;
  display: none;
  padding: 8px;
  position: absolute;
  top: 100%;
  left: 0;
}

/* .ni-ul::before {
  content: "";
  border-bottom: 10px solid #bfabeb;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -10px;
  left: 10px;
}

.ni-ul::after {
  content: "";
  width: 80px;
  height: 10px;
  background-color: transparent;
  position: absolute;
  top: -10px;
  left: 0;
} */

.ni-li {
  background-color: #7fff00;
  padding: 8px;
  margin: 4px 0;
  line-height: 100%;
  height: 100%;
}

/* .ni-li:hover {
  background-color: #0fb600;
} */

/* .botan:hover .ni-ul {
  display: inline-block;
} */

.sumaho-ic {
  display: none;
}

.sumaho-shitae {
  display: none;
}

.ni-ul-open {
  display: none;
}

#menyuu {
  display: none;
}

@media (width < 768px) {
  .sumaho-ic {
    display: block;
    line-height: 60px;
    font-size: 28px;
    padding-right: 16px;
  }

  .botan {
    text-align: left;
    margin: 0;
  }

  .botan + .botan {
    border-top: 2px solid #e63ecc;
  }

  .ni-li {
    display: block;
    margin: 0;
    padding: 8px 0;
    position: static;
  }

  .ni-li + .ni-li {
    border-top: 2px solid #0d8d01;
  }

  .sumaho-shitae {
    display: block;
    font-size: 20px;
    position: absolute;
    right: 16px;
    transform: translateX(-50%);
    top: 20px;
  }

  .ni-ul-open:checked + .ni-ul {
    display: block;
    padding: 0 12px;
    position: static;
    margin-bottom: 10px;
    background-color: #7fff00;
  }

  #menyuu:checked + .list {
    /* display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    right: 0; */
    padding: 0 20px;
    transition: all 1s linear;
    transform: translateX(0);
  }

  .list {
    background-color: var(--S);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 1s linear;
  }
}
